aiohappyeyeballs
aiohttp
aiosignal
APScheduler
asyncio
attrs
beautifulsoup4
certifi
cffi
charset-normalizer
discord.py
ffmpeg
frozenlist
h11
idna
iniconfig
multidict
mysql-connector-python
outcome
packaging
pillow
pluggy
propcache
pycparser
Pygments
PyNaCl
PySocks
pytest
python-decouple
requests
selenium
sniffio
sortedcontainers
soupsieve
trio
trio-websocket
typing_extensions
tzlocal
urllib3
websocket-client
wsproto
yarl
yt-dlp
